<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">% Done</th>
        <th scope="col">Assignee</th>
      </tr>
    </thead>
    <tbody *ngFor="let task of tasks">
      <tr [routerLink]="[task.id]" style="cursor: pointer;">
        <th scope="row">{{task.id}}</th>
        <td>{{task.title}}</td>
        <td>{{task.status}}</td>
        <td>{{task.percentageDone}}%</td>
        <td>{{task.worker.name}} {{task.worker.surname}}</td>
      </tr>
    </tbody>

</table>
</div>
